<p id="notice"><%= notice %></p>

<h1>Pokemon Assets</h1>

<table>
  <thead>
    <tr>
      <th>Pokemon</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pokemon_assets.each do |pokemon_asset| %>
      <tr>
        <td><%= pokemon_asset.pokemon_id %></td>
        <td><%= pokemon_asset.type_id %></td>
        <td><%= link_to 'Show', pokemon_asset %></td>
        <td><%= link_to 'Edit', edit_pokemon_asset_path(pokemon_asset) %></td>
        <td><%= link_to 'Destroy', pokemon_asset, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pokemon Asset', new_pokemon_asset_path %>
